<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="">
	<!-- 지출 항목 조회 -->

	
	<!-- 지출 내역 저장 -->


	<!-- 연도/월별 조회  -->

	
	<!-- 내역 삭제 -->

	
	<!-- 월별 지출 통계보기 -->

</mapper>